#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem; */
  height: 100vh;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


:root {
  --primary-color: #444558de; 
  --secondary-color: #39e29d; 
  --navbar-color: #303141; 
  --dropdown-color: #4c6085; 
  --card-color: #323648; 
  --card-buy-btn-color: #5762d5; 
  
}

/*                 */
/*                 */
/*                 */
/* reusable       */
/*                 */
/*                 */
/*                 */

.c-flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
}



.c-w-full{
  width: 100%;
}

.c-w-8{
  width: 8rem;
}
.c-h-full{
  height: 100%;
}

.ml-3{
  margin-right: 0.3rem;
}

.line-btn {
  display: inline-block;
  padding: 2px 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary-color);
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}



.line-btn span {
  position: relative;
  z-index: 1;

}

/*            */
/*            */
/*            */
/* Navbar.css */
/*            */
/*            */
/*            */

.logo {
  height: 2em;
  padding: 1.5em;
  padding-bottom: 2.45rem;
  will-change: filter;
  transition: filter 300ms;
}

.navbar-parent{
  min-height: 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  z-index: 3;
}

.navbar {
  background-color: var(--navbar-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  overflow-x: hidden;
  border-bottom: solid 1px #4c6085;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}


.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.navbar-item {
  margin-left: 1.5rem;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: var(--secondary-color);
}

.navbar-parent{
  width: 100vw;

}

.navbar-login{
  flex-direction: row;
  width: 350px;
  justify-content: space-around;
  gap: 10px;
}

.navbar-currency-link{
  margin-left: 10%;
}

.cart-icon{
  padding-right: 0.4rem;
}


.sign-in-btn {
  background-color: var(--secondary-color); 
  color: #303141; 
  border: none; 
  padding: 0.5rem 1rem; 
  border-radius: 4px; 
  font-size: 1rem; 
  font-weight: 500; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.sign-in-btn:hover {
  background-color: white; 
}
.navbar-divider{
  height: 50px;
  width: 1px;
  background-color: white;
  border-radius: 10px;
}

.menu-icon{
  display: none;
}


/*            */
/*            */
/*            */
/* Body.css */
/*            */
/*            */
/*            */

.body-parent{
  position: relative;
  width: 100%;
  height: 100%;


}

.main-container{
  height: max-content;
  width: 100%;
  position: absolute;

}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh; /* Ensures it covers the whole viewport height */
  background-image: url('./assets/fantasy1.jpeg'); /* Replace with your image path */
  z-index: 0;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-img-front {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #444558de; 
  z-index: 1;
  width: 100vw;
  height: 100vh; 
}
.img-fill{
  background-color: #444558de; 
  height: 100%; 
  width: 100vw;

}

.main-inner-container{
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  justify-items: start;
  /* margin: 8% 0; */
  /* margin: 5% 5%; */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding: 2rem;
}

.main-content-container{
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  justify-items: start;
  /* margin: 8% 0; */
}


.title-container{
  display: flex;
  flex-direction: start;
}

.title{
  font-family:sans-serif;
  font-size: 2.2rem;
}

/*            */
/*            */
/*            */
/* Filter.css */
/*            */
/*            */
/*            */


.filter-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1% 0;
}

/* Dropdown container */
.game-dropdown {
  position: relative;
  width: 40%;
  margin-right: 10px;
}

.game-feat-dropdown {
  position: relative;
  width: 30%
}

/* Button styling */
.dropdown-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 65px;
  padding: 10px 15px;
  background-color: var(--dropdown-color);
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s ease;
}

.dropdown-inner-btn {
  display: flex;
  justify-content: start;
  justify-items: start;
  align-items: center;
}

.dropdown-btn:hover {
  background-color: #465778;
}

/* Dropdown menu styling */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--dropdown-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
  list-style: none;
  padding: 0; 
  margin: 0; 

}

.game-dropdown:hover .dropdown-menu,
.custom-filter:hover .dropdown-menu,
.game-feat-dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Dropdown item styling */
.dropdown-item {
  padding: 10px 15px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #465778;
  color: #fff;
}

/* Active dropdown item */
.dropdown-item.active {
  background-color: #444558;
  color: #fff;
}

.custom-select-arrow{
  position: absolute;
  top: 35%;
  right: 5%;
}

.custom-select-sword{
  margin-right: 1rem;
}

/* Search Filter Bar */
.search-filter-bar {
  display: flex;
  align-items: center;
  background-color: var(--dropdown-color);
  padding: 10px;
  gap: 10px;
  max-width: 600px;
  width: 100%;
  margin-left: 10px;
}

/* Search Input */
.search-input {
  flex: 1; 
  padding: 10px;
  border: 0px solid var(--dropdown-color);
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: #4c608500;
}

.search-input::placeholder{
  color: rgb(255, 255, 255);

}

.dropdown-label{
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-left: 10px;
  font-weight: 300;
  font-size: 0.8rem;
}


/*            */
/*            */
/*            */
/* Table.css */
/*            */
/*            */
/*            */


.table-parent{
  width: 100%;
  height: max-content;
  background-color: var(--navbar-color);
  border: solid 3px var(--dropdown-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.card {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--card-color);
  
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  padding: 10px 0;
}

.card-content {
  /* padding: 16px; */
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.card-title {
  font-size: 1rem;
  margin: 0 0 8px;
  color: #ffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  text-align: start;
}

.card-description {
  font-size: 1rem;
  color: #cbccd1;
  line-height: 1.5;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;

}

.card-action {
  width: 100%;
  text-align: start;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: #f9f9f9; */
}

.card-action button {
  width: 110px;
  height: 50px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
  padding: 0 10px;
  
  
}


.details-btn{
  background: #3f4254;

}
.details-btn:hover {
  background: #5a5c6b;
}
.buy-btn{
  width: 100%;
  height: 100%;
  background: var(--card-buy-btn-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.buy-btn:hover {
  background: #5860bb;
}

.buy-btn-icon-container{
  background-color: #454da8;
  width: 50%;
  height: 80%;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 5px;
}

.card-item-feat-container{
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px 0;
  height: 100%;
}

.green-bullet{
  text-align: start;
  margin-bottom: 10px;
}

.green-bullet::marker {
  color: var(--secondary-color);
}


.quantity-input {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #444558;
  border-radius: 5px;
  overflow: hidden;
  /* height: 80px; */
  background-color: #394057;
}

.quantity-inner-input{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quantity-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  /* height: 100%; */
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0;
  margin: 0;
}

.quantity-btn:disabled {
  /* background-color: #888; */
  cursor: not-allowed;
}

.quantity-btn:hover:not(:disabled) {
  /* background-color: #575a64; */
}

.quantity-field {
  flex: 1;
  text-align: center;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #444558;
  background-color: transparent;
  color: #fff;

}

.quantity-field::-webkit-inner-spin-button,
.quantity-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-field:focus {
  background-color: #394057;
}

.original-price{
  text-decoration: line-through;
  margin-left: 8px;
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration:#fd4a4a;
}

.original-price{
  margin-left: 8px;
  font-size: 1.5rem;
  font-weight: 300;
}
.discount-price{
  font-size: 1.5rem;
  font-weight: 500;
}



.table-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr)); /* Default: 5 columns */
  gap: 20px;
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #4a4a4a;
  background-color: var(--navbar-color);
  border-radius: 8px;
  border: solid 1px var(--card-buy-btn-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-btn:hover {
  background-color: var(--card-buy-btn-color);
  color: #fff;
}

/* .pagination-btn:disabled {
  background-color: #e0e0e0;
  color: #a8a8a8;
  cursor: not-allowed;
} */

.pagination-btn.active {
  background-color: var(--card-buy-btn-color);
  color: #fff;
  font-weight: bold;
  cursor: default;
}

.table-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 40px;
  width: 100%;
}

.table-header-span{
  margin-left: 40px;
}

.custom-filter {
  position: relative;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 40px;
}

.dropdown-custom-filter{
  margin-left: 10px;
}

/* Button styling */
.custom-filter-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 65px;
  padding: 10px 15px;
  background-color: #353a4e;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s ease;
}

.custom-filter-inner-btn {
  display: flex;
  justify-content: start;
  justify-items: start;
  align-items: center;
  flex-direction: column;
}

.custom-filter-btn:hover {
  background-color: #3b435c;
}





.body-end{
  /* height: 100%; */
  width: 100%;
  background-color: #3d3e4f;
}


.footer-parent{
  height: 80%;
  width: 100%;
  /* background-color: #2b2c3b; */
}
.footer-container{
  height: 80%;
  width: 100%;
  /* background-color: #2b2c3b; */
}

.footer-header{
  width: 100%;
  height: max-content;
  background-color: #2b2c3b;
  display: flex;
  gap:10px;
  justify-content: start;
  align-items: center;

}

.footer-payment-logos{
  margin-left: 10%;
  display: flex;
  gap:10px;
  justify-content: center;
  align-items: center;

}

.footer-logo{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.footer-social{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-top: 5%;
}

.footer-body{
  width: 100%;
  height: 100%;
  background-color: #303141;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 10%;

}
.footer-links{
  width: 80%;
}

.footer-inner-link-sections{
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: row;
}

.footer-link-chicksgold,
.footer-link-support,
.footer-link-legal{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-link-chicksgold ul,
.footer-link-support ul,
.footer-link-legal ul{
  padding: 0;
  margin: 0;
}


.footer-link-chicksgold li,
.footer-link-support li,
.footer-link-legal li{
  text-decoration: none;
  list-style-type: none;
  color: #bdbec5;
  text-align: start;
  font-weight: 300;
  transition-duration: 250ms;
}

.footer-link-chicksgold li:hover,
.footer-link-support li:hover,
.footer-link-legal li:hover{
  color: white;
}


.footer-divider{
  width: 80%;
  height: 2px;
  background-color: #4c6085;
  margin: 50px 0;
  border-radius: 50px;

}

.footer-copyright{
  display: flex;
  justify-content: center;
  align-items: end;
  width: 80%;
  height: 100%;
  padding-bottom: 1%;
}

/* MEDIA QUERIES */


@media 
(max-width: 1400px)  {
  .menu-icon{
    display: block;
    z-index: 4;
    background-color: transparent;
  }
  .navbar-divider{
    display: none;
  }
  .logo{
    display: none;
  }
  .navbar-parent{
    display: flex;
  }
  .navbar-menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--navbar-color);
    top: 0;
    left: -100%;
    text-align: center;
    flex-direction: column;
    z-index: 1;
    transition: all .5s;
  }
  .navbar-menu.open {
    left: 0; /* Slide into view */
  }
  .navbar, 
  .navbar-menu,
  .navbar-item{
  }

  .navbar-login{
    flex-direction: column;
  }

  .navbar-currency-link,
  .navbar-item{
    margin-left: 0;
  }

  .body-end{
    height: 150vh;
  }

  .filter-container{
    flex-direction: column;
    gap: 10px;
  }
  .game-dropdown{
    width: 100%;
  }
  .dropdown-btn{
    justify-content: space-between;
  }

  .search-filter-bar{
    margin-left: 0;
    width: 100%;
    max-width:100%;
    padding: 0;
    /* padding-left: 10px; */
    margin-right: 10px;
  }

  .game-feat-dropdown{
    width: 100%;

  }


}


@media (max-width: 960px) and (max-height: 1200px){
  .body-end{
    height: 260vh;
  }
  .table-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card{
    width: 100%;
    
  }
  .card-item-feat-container{
    justify-content: space-between;
  }

  .footer-header{
    height: max-content;
  }
  .footer-payment-logos{
    flex-wrap: wrap;
  }

}


@media (max-width: 560px) {
  .table-header{
    flex-direction: column;
  }

  .custom-filter {
    margin-right: 0;
  }
  
  .table-header-span{
    margin-left: 0;
  }
  .footer-inner-link-sections{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
  }
  .footer-body{
    height: max-content;
  }

  .footer-social{
    justify-content: center;
    width: 80%;
    margin-top: 40px;
  }
}
